/* 
.slider-reviews-wrapper {
  position: relative;
  top: 69%;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
  overflow: hidden;
  z-index: 1;
}

.btn-reviews-slider {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
} */
