.txt {
    color: #000000;
    font-family: "Regular", serif;
    display: inline;
    text-align: center;
    padding: 2px;
    margin: 2px;    
}

.bond {
   font-family: "Bond"; 
}

.red-text {
    color: #EC3837;
}

.left {
    text-align: start;
    margin: 3px;
    padding: 5px;
  }

.dark-color {
    color: #000000;
}

.italic {
    font-family: "Italic";
}

.italic-bold {
    font-family: "Italic-Bold";
}

.bold {
    font-family: "Bold";
}

.book-text {
    font-size: 14px;
}

.title-reviews {
    position: absolute;
    top: 25%;
    width: 50%;
    font-family: 'Bond';
    color: #FFFFFF;
}

.txt-bolus {
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.epilogue-txt {
    display: flex;
    width: 60%;
    height: auto;
}

.txt-footer {
    position: absolute;
    bottom:15vw;
    width: 60%;
    z-index: 0;
}
