.txt {
    color: #000000;
    font-family: "Regular", serif;
    display: inline;
    text-align: center;
    padding: 2px;
    margin: 2px;    
}

.bond {
   font-family: "Bond"; 
}

.red-text {
    color: #EC3837;
}

.left {
    text-align: start;
    margin: 3px;
    padding: 5px;
  }

.dark-color {
    color: #000000;
}

.italic {
    font-family: "Italic";
}

.italic-bold {
    font-family: "Italic-Bold";
}

.bold {
    font-family: "Bold";
}

.book-text {
    font-size: 14px;
}