.cover-wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url("../../images/Subtract.png");
    background-position: center bottom 10px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: relative;
}

.conteiner-images {
    bottom: 7%;
    width: 100%;
    height: 60%;
    position: relative;
    display: flex;
    justify-content: space-between; 
    padding: 10px 20px; 
    overflow-y: visible;
  }


.one, .two, .three, .four {
    transition: transform 0.2s ease-in-out;
}

.conteiner-images:hover .one,
.conteiner-images:hover .two,
.conteiner-images:hover .three,
.conteiner-images:hover .four {
    animation: sway 0.5s ease-in-out infinite;
}

@keyframes sway {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(1deg);
    }
    25% {
        transform: rotate(2deg);
    }
    35% {
        transform: rotate(1deg);
    }
    50% {
        transform: rotate(0deg);
    }
    60% {
        transform: rotate(1deg);
    }
    75% {
        transform: rotate(-2deg);
    }
    100% {
        transform: rotate(0deg);
    }
}