.img {
    max-width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .logo {
    height: 100%;           
    width: auto;           
    object-fit: contain;
  }

  .blur {
    width: 45vw;
  }

  
  .tree {
    width: 45vw;
  }

  .rabbit-book {
    width: 32vw;
  }

  .baner {
    width: 100%;
    height: auto;
    z-index: 0;
  }

  .cardsBook-img {
    width: 200px;
    height: auto;
    position: relative;
    transform: rotate(-20deg);
    left: 15px;
  }


