.text-in-ball {
    width: 53%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 40px;
    background-color: #FBF4E9;
}